@import "./variables";
@import "./mixin";

@import "./component/card";
@import "./component/attribution";
@import "./layout";

//global

a
{
    text-decoration: none;
    color: $color-neutral-2;
    &:hover
    {
        text-decoration: underline;
    }
}
